*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    height: 80px;
    display: flex;
    box-shadow: 1px 1px 3px rgb(211, 211, 211);
    box-shadow: inset 0.5px 0.5px 3px rgb(0, 0, 0);
}

.left-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    margin-left: 50px;
    margin-right: 150px;
}

.left-bar img {
    width: 40px;
    height: 40px;
}

.left-bar span {
    font-size: 20px;
    font-weight: 700;
    margin-left: -10px;
    color: rgb(55, 54, 54);
}
.right-bar {
    flex: 1;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-bar ul {
    list-style-type: none;
    display: flex;
    gap: 100px;
}

.right-bar li {
    font-size: 16px;
    color: black;
    cursor: pointer;
    transition: text-decoration 0.15s;
    transition: text-decoration-color 0.15s;
    color: rgb(72, 68, 68);
    font-weight: 600;
}

.right-bar li:hover {
    text-decoration: underline;
    text-decoration-color: rgb(151, 48, 48);
}

.center {
    position: relative;
}

.center img {
    height: 640px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.center-heading {
    /* background-color: blue; */
    height: 100px;
    position: absolute;
    top: 25%;
    left: 26%;
}

.span-heading {
    color: rgb(136, 48, 16);
    font-size: 45px;
    font-weight: 900;
    box-shadow: 0px 1px  0px rgb(95, 95, 95);
}

.span-title {
    display: block;
    margin-top: 50px;
    color: rgb(188, 40, 40);
    font-size: 40px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.span-title1 {
    display: block;
    color:rgb(188, 40, 40);
    margin-top: 10px;
    font-size: 40px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button-div {
    position: absolute;
    height: 100px;
    width: 500px;
    top: 70%;
    left: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.btn {
    padding: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: black;
    border-radius: 10px;
    color: rgb(188, 40, 40);
    border: 1px solid white;
    cursor: pointer;
}

button:hover {
    background-color: black;
    border: 1px solid rgb(188, 40, 40);
    color: white;
}
    